$primary: #141518;
$primary-light: #212121;
$primary-lighter: #3a3b3e;
$primary-lightest: #646568;
$primary-dark: #18191d;
$secondary: #00FF7F;
$white: #ffffff;
$gray: #c2c2c2;
$black: #000000;