@media (min-width: 992px) {
	.navbar {
		&__mobile {
			display: none;
		}

		&__desktop {
			display: block;
		}

		&__item {
			&--special {
				margin-left: 0.5em;
			}
		}
	}

	.hamburger {
		display: none;
	}

	.features {
		padding: 1em 1em 12em;
	}

	.counter-box {
		margin: 2em 0;
	}

	.partners {
		&__box {
			padding: 7em 0;
		}
	}

	.commands {
		margin: 3em 1em 5em;

		&__box {
			align-items: start;
			flex-direction: row;
			padding: 0;
		}

		&__menu {
			position: sticky;
			top: 0;
			padding: 1em;
			width: 300px;
		}

		&__list {
			padding: 1em;
		}
	}
}
